body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
  background-image: url('http://66.media.tumblr.com/e8acb221685eb2c7eba6165df72490cf/tumblr_o1l4rtwOVI1qkprgpo5_1280.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  /*background-image: url('http://66.media.tumblr.com/e8acb221685eb2c7eba6165df72490cf/tumblr_o1l4rtwOVI1qkprgpo5_1280.gif');*/
  background-size: cover;
  color: #ffffff;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  flex-direction: column;
  width: 720px;
  background-color: #787E7D;
  margin: 20px auto;
  justify-content: center;
  align-content: space-between;
}

.button-text, .show-all, .buttonfilter {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
  width: 70px;
}

.button-text:hover, .show-all:hover, .buttonfilter:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

/*.show-all, .buttonfilter {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}
*/

* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
}

body {
  background-color: #50e3c2;
  text-align: center;
}

main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px;
}


h1 {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 64px;
    color: #aeaeae;
}

.inputfield {
  display: flex;
  flex-direction: column;
  /*justify-content: center;
  align-content: space-between;*/
  margin: 20px 50px;
  color: #9b9b9b;
}

.food-list{
  display: flex;
  flex-direction: ;
  margin: 20px 50px;
}

input[type="text"] {
  min-width: 80%;
  background-color: #ffffff;
  color: #9b9b9b;
}

input{
  margin: 5px;
}

button{
  margin: 5px;
}

.foodholder{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  width: 90%;
  color: #aeaeae;
}

.food-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*input[type="checkbox"] {
  border: 0px;
  height: 28px;
  width: 28px;
  border-radius: 14px;
}*/

/*.button-text {
    font-family: Lato-Regular, sans-serif;
    font-size: 26px;
    width: 70px;
    background-color: #df69e8;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 26px;
    color: #ffffff;
}*/

.delete {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    margin-left: 40px;
    background-image: url(bin.png);
    border: none;
}
.delete:hover {
    background-image: url(binback.png);
}
